/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
@font-face {
  font-family: "iranSans";
  src: url(fonts/IRANSansWeb_Light.woff) format("woff"),
    url(fonts/IRANSansWeb_Light.woff2) format("woff2");
}

/* Copyright Style */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* CSS Reset */
html {
  width: 100%;
  height: max-content;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "iranSans", sans-serif;
}

/* Mobile Query */
@media only screen and (max-width: 688px) {
  body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .logo {
    display: none;
  }
  .dlogo {
    display: none;
  }
  .desktopPic {
    display: none;
  }
  .mlogo {
    padding: 1rem;
    width: 30%;
  }
  .mcontainer {
    background-image: linear-gradient(#ffffff, #fff5f5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobilePic {
    width: 100vw;
  }
  .title {
    width: 100%;
    font-size: 6rem;
    text-align: center;
    color: #413a3a;
  }

  #weAre {
    color: #ce9797;
    display: block;
    font-weight: 300;
  }
  #coming {
    display: block;
  }
  #soon {
    display: block;
  }
  .detailsText {
    color: #ce9797;
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem;
  }
}

/* Desktop Query */
@media only screen and (min-width: 689px) {
  .mobilePic {
    display: none;
  }
  body {
    width: 100%;
    height: max-content;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.75),
        rgba(228, 228, 228, 0.75)
      ),
      url("images/BG-test.jpg");
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .mcontainer {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .lSection {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rSection {
    width: 50%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(images/bg-pattern-desktop.svg); */

    background-repeat: repeat;
  }
  .desktopPic {
    width: 90%;
    height: 80vh;
    filter: brightness(80%);
    border-radius: 50px;
    padding: 1rem;
  }
  .title {
    text-align: center;
    font-size: 2rem;
    color: #413a3a;
    filter: brightness(100%);
  }
  #weAre {
    font-weight: 300;
    color: #413a3a;
  }
  #coming {
    color: #4b967b;
    font-weight: bold;
  }
  #soon {
    font-weight: 300;
  }
  .mlogo {
    display: none;
  }
  .dlogo {
    padding: 1rem;
    height: max-content;
  }
  .detailsText {
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    font-weight: 300;
    color: #5c604d;
  }
  #contact-us {
    width: 21rem;
    height: 2.7rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 20px;
    font-family: "iranSans", sans-serif;
    background: transparent;
    border: 1px solid #0d6b23;
    color: #0d6b23;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
    margin-bottom: 1rem;
    text-align: center;
  }
  #contact-us:hover {
    background-color: #068f26a2;
    color: white;
    border: none;
  }
  #shop {
    text-align: center;
    width: 21rem;
    height: 2.7rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 20px;
    font-family: "iranSans", sans-serif;
    background: transparent;
    border: 1px solid #0096bb;
    color: #0096bb;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
  }
  #shop:hover {
    background-color: #0096bb94;
    color: white;
    border: none;
  }
  blockquote {
    direction: rtl;
    text-align: center;
    font-size: 3rem;
    color: rgb(71, 71, 71);
  }
  blockquote::before {
    content: "\201C";
    color: red;
  }
  blockquote::after {
    content: "\201D";
    color: red;
  }
}
