/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/* Copyright Style */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* CSS Reset */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/* Mobile Query */
@media only screen and (max-width: 688px) {
  body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .dlogo{
      display: none;
  }
  .desktopPic{
      display: none;
  }
  .mlogo {
    padding: 1rem;
    width: 30%;
  }
  .mcontainer {
    background-image: linear-gradient(#ffffff, #fff5f5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobilePic {
    width: 100vw;
  }
  .title {
    width: 100%;
    font-size: 6rem;
    text-align: center;
    color: #413a3a;
  }

  #weAre {
    color: #ce9797;
    display: block;
    font-weight: 300;
  }
  #coming {
    display: block;
  }
  #soon {
    display: block;
  }
  .detailsText{
      color: #ce9797;
      text-align: center;
      font-size: 1.7rem;
      padding: 2rem;
  }
}

/* Desktop Query */
@media only screen and (min-width: 689px){
    .mobilePic{
        display: none;
    }
body{
    width: 100%;
    height: 100vh;
}
.mcontainer{
    display: flex;
}
.lSection{
    width: 45%;
}
.rSection{
    width: 55%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.desktopPic{
    width: 100%;
    height: 100%;
}
.title{
    text-align: center;
    font-size: 6rem;
    color: #413a3a;
}
#weAre{
    font-weight: 300;
    color: #ce9797;
}
.mlogo{
    display: none;
}
.dlogo{
    padding: 1rem;
    width: 30%;
    height: max-content;
}
.detailsText{
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
    font-weight: 300;
    color: #ce9797;
}

}